{% extends "template.html" %}

{%block head%}
<title>About this site</title>
{%endblock%}

{% block body %}
<div class="about">
  <h1> covid-19 visualization using python: </h1>
  <h1>Site Created by: Nachiket Kale  &  Shashwat Chavan</h1> 
  <h2>Site contents:</h2>
  <h3>Data sources: </h3>
  <h3>https://www.worldometers.info/coronavirus/</3> 
  <h3>https://ourworldindata.org</h3> 
  <p> To showcase the skills that we have learned in python, we have created a website from scratch for covid-19 visualization.</p>
  <h2> List of Python Library used:  </h2>
  <h3> sqlalchemy </h3>
  <h3> pandas</h3>
  <h3> numpy</h3>
  <h3> sqlite3</h3>
  <h3> requests</h3>
  <h3> bs4 BeautifulSoup</v>
  <h3>mysql.connector </h3>
  <h3>matplotlib.pyplot </h3>
  <h2>What we are planiing to in future update:</h2>
  <p>we are planning to implement machine learning and train models for various variables and establish the future trend.</p>
</div>
{% endblock %}  
