{%block body%} 

<h1><center>Country</center></h1>

<form class="Country" method="POST" action="/search/"  style="margin:auto;max-width:900px">
   <input type="text" placeholder="search country by name" name="country" id="country">
   <button type="submit"><i class="fa fa-search"></i>Insert</button>
</form>
<table style="margin-left: 15px;" border="1">
    <thead>
      <tr>
        <th>iso_code</th>
        <th>Country</th>
        <th>Date</th>
        <th>Total Cases</th>
        <th>New Cases</th>
        <th>Total Deaths</th>
        <th>New Deaths</th>
        <th>Total Recovered</th>
        <th>Active Cases</th>
        <th>Serious</th>
        <th>Total Cases/1M</th>
        <th>Total Deaths /1M</th>
        <th>Total Tests</th>
      </tr>
    </thead>
    <tbody>
      {% for row in data %} 
      <tr>
        <td>{{row[0]}}</td>     
        <td>{{row[1]}}</td>
        <td>{{row[2]}}</td>
        <td>{{row[3]}}</td>
        <td>{{row[4]}}</td>
        <td>{{row[5]}}</td>
        <td>{{row[6]}}</td>
        <td>{{row[7]}}</td>
        <td>{{row[8]}}</td>
        <td>{{row[9]}}</td>
        <td>{{row[10]}}</td>
        <td>{{row[11]}}</td>
        <td>{{row[12]}}</td>
       
      </tr>
      {% endfor %}        
    </tbody>
  </table>

{%endblock%}
